about-style.css:
body {
padding: 5rem;
}
.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.main-title {
  font-family: 'Courier New';
  font-size: 50px;
  font-weight: bold;
  color: blue;
  padding-top: 50px;
}
.main-subheading{
  font-family: 'Courier New';
  font-size: 30px;
  font-style: italic;
  color: black;
}
.carousel-image {
  width: 600px;
  height: 400px;
}
#column-styles {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: red;
}

#column-styles {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: red;
}
